{% extends "ap2.j2" %}

{% block summary %}
<p>

Het applicatieprofiel "Digitale Watermeter" beschrijft hoe het waterverbruik in Vlaanderen wordt gemonitord met digitale meters. Deze meters zijn uitgerust met sensoren die het waterverbruik registreren en informatie verschaffen over onder meer het type, de fabrikant en de status van de meter. De verbruiksgegevens, bestaande uit observaties van het waterverbruik, bieden inzicht in individueel en geaggregeerd verbruik, evenals in voorspelde verbruikspatronen. Dit profiel biedt een raamwerk voor het verzamelen en het delen van deze gegevens met derden.</p>
{% endblock %}

