{% extends "voc2.j2" %}

{% block summary %}
<p>
Het vocabularium "OSLO Digitale Watermeter" definieert termen specifiek voor het beheer en de monitoring van waterverbruik via digitale watermeters. Het beschrijft kenmerkende eigenschappen van digital watermeters, waaronder de componenten zoals verbruiksobservatie, sensoren en meters. Deze termen zijn aangepast om nauwkeurig het (drink)waterverbruik te beschrijven. Dit vocabularium is afgestemd op OSLO modellen IMKL (Informatie Model Kabels en Leidingen), toegespitst op de specifieke eisen en functionaliteiten van digitale watermeters.</p>
{% endblock %}

{% block status %}
<p>Dit document is een officiële specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten. Deze specificatie dient om de definitie, gebruik, domein en bereik van de RDF termen binnen dit domein te verduidelijken. De termen gedefinieerd in dit vocabularium zijn persistent en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen worden in nieuwere versies van deze specificatie.</p>
{% endblock %}
