{% extends "ap2.j2" %}

{% block summary %}
<p>
Het applicatieprofiel "Digitale Watermeter" beschrijft hoe het waterverbruik in Vlaanderen wordt gemonitord met digitale meters.
Deze meters zijn uitgerust met sensoren die het waterverbruik registreren en informatie verschaffen over onder meer
het type, de fabrikant en de status van de meter.
De verbruiksgegevens, bestaande uit observaties van het waterverbruik, bieden inzicht in individueel en
geaggregeerd verbruik, evenals in voorspelde verbruikspatronen.
Dit profiel biedt een raamwerk voor het verzamelen en het delen van deze gegevens met derden.
</p>

<p>
ISO19156:2011 wordt herbruikt om zo maximaal te aligneren met bestaande OSLO data standaarden,
ook al resolven die URLs niet meer.
Om de definities van die URLs op te zoeken kan je terecht
op
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering/">
https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering/
</a>.
</p>
{% endblock %}

